.webpack-logo {
  width: 200px;
  height: 200px;
  background: url('../images/webpacklogo.svg') center center no-repeat;
}
.container {
  width: 100%;
  background: #f6f6f6;
  position: relative;
  height: 100%;
  overflow: hidden;
  .Drawer {
    width: 20%;
    float: left;
    height: 100%;
    display: inline-block;
  }
  .sideBar {
    a {
      color: #333333;
    }
  }
  .viewCon {
    height: 100%;
    width: 79%;
    float: right;
  }
}
